/*home CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #473737bd;
    font-weight: 900;
    font-size: large;
    padding: 0.5rem 1rem;
}